@import "../../styles/base.scss";

.cardContainer {
  // padding: 0% 4%;
  flex-direction: row;
  display: flex;
  gap: 20%;
  overflow: auto;
  // margin-left: 5%;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

.moreCardContainer {
  height: 5%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  overflow-x: scroll;
  flex-wrap: nowrap;
  padding: 5% 0%;
}

.moreCardContainer::-webkit-scrollbar {
  display: none;
}
